* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  gap: 1rem;
}

.result-container {
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}
